body {
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color: #A3E9F5;
  }
  
  .style2 {
    background-color: #F5C0BC;
  }
  
  .style3 {
    background-color: #DADDF5;
  }
  
  .style4 {
    background-color: #F5DC8C;
  }
  
  .style5 {
    background-color:#98F5BC;
  }
  
  .style6 {
    background-color: #c1f6ff;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }